<%= link_to "Voltar", homeAdmin_path %>
<h1>Listagem de entregas</h1>
<%= link_to "Adicionar entrega", new_delivery_path %>
<table>
  <thead>
  <tr>
      <th>Status da entrega</th>
  </tr>
  </thead>
  <tbody>
  <% @deliveries.each do |delivery| %>
    <tr>
      <td><%= delivery.status  %></td>
      <td><%= delivery.id  %></td>
    </tr>
  <% end %>
  </tbody>
</table>