<div>
  <div class="p-5 ">
    <div class="d-flex align-items-center justify-content-space-between">
      <div>
        <h1>Editar usuário</h1>
      </div>

      <div class="mx-auto btn btn-info">
        <%= link_to "Voltar", :back, class: "text-light text-decoration-none" %>
      </div>
    </div>
  </div>

  <%= render "form", {user: @user, button_text: "Atualizar Usuário"} %>
</div>
