<div class="p-5 ">
  <div class="d-flex align-items-center justify-content-space-between">
    <div>
      <h1>Listagem de usuários</h1>
    </div>

    <div class="mx-auto btn btn-info">
      <%= link_to "Voltar", home_path, class: "text-light text-decoration-none" %>
    </div>
  </div>

  <div class="mt-5 w-50">
    <table class="table">
      <thead>
        <tr class="table-info">
          <th scope="col">Nome</th>
          <th scope="col">Tipo</th>
        </tr>
      </thead>
    
      <tbody>
        <% @users.each do |user| %>
          <% if user.user_type != 'Administrador' %>
            <tr>
              <td><%= link_to user.name, user, class: "h6 text-warning text-decoration-none" %></td>
              <td><%= user.user_type %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="mx-auto mt-4">
    <%= link_to "Adicionar usuário", new_user_path, class: "btn btn-lg btn-primary text-decoration-none" %>
  </div>
</div>