<%= link_to "Voltar", home_path %>
<h1>Listagem de usuários</h1>
<%= link_to "Adicionar usuário", new_user_path %><br/>
<table>
  <thead>
  <tr>
    <th>Nome</th>
    <th>Tipo</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
  <% if user.user_type != 'Administrador' %>
    <tr>
      <td><%= link_to user.name, user %></td>
      <td><%= user.user_type %></td>
    </tr>
  <% end %>
  <%end %>
  </tbody>
</table>