<h1>Ponto Delivery</h1>
<br/>
<%= link_to "Usuários", users_path %>
<br/>
<%= link_to "Vendas", sales_path %>
<br/>
<%= link_to "Produtos", products_path %>
<br/>
<%= link_to "Entregas", posts_path %>