<%= link_to "Voltar", :back %>
<h2>Entregas concluidas</h2>
<ul>
  <% @closedDeliveries.each do |delivery| %>
    <li>
      <%= link_to "Entrega #{delivery.id}", delivery %>
    </li>
  <% end %>
</ul>