<div class="p-5">
  <div class="d-flex align-items-center justify-content-space-between">
    <div>
      <h1>Editar entrega</h1>
    </div>

    <div class="mx-auto btn btn-info">
      <%= link_to "Voltar", :back, class: "text-light text-decoration-none" %>
    </div>
  </div>

  <%= render "form", {post: @post, users: @users, button_text: "Atualizar entrega"} %>
</div>


