<%= link_to "Voltar", home_path %>
<h1>Listagem de entregas</h1>
<%= link_to "Adicionar entrega", new_post_path %>
<br/>
<%= link_to "Entregas abertas", openDeliveries_path %>
<br/>
<%= link_to "Entregas concluidas", closedDeliveries_path %>