<%= link_to "Voltar", homeAdmin_path %>
<h1>Listagem de entregas</h1>
<%= link_to "Adicionar entrega", new_post_path %>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.id, post %></td>

      <% case post.status %>
      <% when 'progress' %>
        <td>Em progresso</td>
      <% when 'concluded' %>
        <td>Concluído</td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>