<%= link_to "Voltar", :back %>
<h1>Produtos</h1>
<%= link_to "Adicionar produto", new_product_path %>
<table>
  <thead>
  <tr>
    <th>Nome</th>
    <th>Preço</th>
  </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%= link_to product.name, product %></td>
      <td><%= number_to_currency product.price, unit: "R$" %></td>
    </tr>
  <% end %>
  </tbody>
</table>