<header>
  <div>
    <nav class="navbar navbar-light bg-dark">
      <ul>
        <% if logged_in? %>
          <nav class="navbar navbar-expand-md navbar-dark bg-dark">

            <a class="navbar-brand" href="#">.Delivery</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <%= link_to "Home", home_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Perfil", current_user, class: "nav-link" %></li>
                </li>
                <li class="nav-item">
                  <%= link_to "Sair", sign_out_path, method: "delete", class: "nav-link" %>
                </li>
              </ul>
            </div>
          </nav>

        <% else %>
          <li><%= link_to "Log in", root_path %></li>
        <% end %>
      </ul>
  </div>
</header>